@typeparam TModel where TModel : IEntityWithName

<!--Navegamos con el metodo OnBeforeInternalNavigation-->
<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
<!--Creamos el formulario de paises-->
<!--Los formularios tiene un contexto y su boton de OnValidSubmit-->
<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <!--Validamos los errores DataAnnotationsValidator-->
    <DataAnnotationsValidator />
    <!--Pintamos el formulario de paises-->
    <div class="mb-3">
        <label>@Label</label>
        <div>
            <InputText class="form-control" @bind-Value="@Model.Name" />
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
    </div>
    <!--Creamos los botones-->
    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy-fill" /> Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction"><i class="bi bi-arrow-left-square-fill" /> Regresar</button>
</EditForm>
