@typeparam Titem

@if (MyList == null)
{
    @if (Loading == null)
    { 
        //Pinto nuestro propio componente llamandolo de la case Loading.razor
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
        </div>

       <loading/>
    }
    else
    { 
        //Pinto el elemento loading que me manda el usuario, RenderFragment es codigo que yo le puedo pasar
        @Loading
    }
}
else if(MyList.Count == 0)
{
    @if (NoRecords == null)
    {    
        //Componentes
        <p>No hay registros para mostrar</p>
    }
    else
    {
        //Pinto nuestro componente NoRecords
        @NoRecords
    }
}
else
{  
    //Pinto nuestro componente Body
    @Body
}
