@page "/countries/edit/{Id:int}"

<h3>Editar País</h3>

@if (country == null)
{
    <Loading/>
}
else
{
    <!-- LLamamos nuestro formulario generico FormWithName -->
    <FormWithName @ref="countryForm" Label="País:" Model="country" OnValidSubmit="EditAsync" ReturnAction="Return" />

    <!-- LLamamos nuestro formulario CountryForm-->
    <!--<CountryForm @ref="countryForm" Country="country" OnValidSubmit="EditAsync" ReturnAction="Return" />-->
}
